<template>
    <div>
        <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">
                                    <h1 class="text-uppercase tm-banner-title">Convertidor de monedas</h1>
                                    <p class="tm-banner-subtitle">Selecciona tu moneda</p>
                                    <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>
                                </div>
                            </div>
                            <!-- col-xs-12 -->
                        </div>
                        <!-- row -->
                        <div class="row tm-banner-row" id="tm-section-search">

                            <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
                                <div class="form-row tm-search-form-row">
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                        <label for="inputCity">Importe</label>
                                        <input name="importe" type="number" min="1" v-model="amount" class="form-control" id="inputCity" placeholder="Importe">
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-1">
                                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                            <label for="inputRoom">De</label>
                                            <select name="room" class="form-control tm-select" id="inputRoom" v-model="from_currency">
                                                <option value="USD" selected>USD</option>
                                                <option value="PLN">PLN</option>
                                    
                                            </select>
                                        </div>
                                       
                                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">

                                        </div>
                                    </div>
                                </div>
                                <!-- form-row -->
                                <div class="form-row tm-search-form-row">
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1 w-100">
                                        <label for="btnSubmit">&nbsp;</label>
                                        <button type="button" v-on:click="getCurrency()" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">
                                            Convertir
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>
                    <!-- .container -->
                </div>
                <!-- .tm-container-outer -->
            </section>
            <div class="tm-container-outer" id="tm-section-2">

                <section class="tm-slideshow-section">
                        <div class="tm-slideshow">
                            <img src="build/img/tm-img-01.jpg" alt="Image">
                            <img src="build/img/tm-img-02.jpg" alt="Image">
                            <img src="build/img/tm-img-03.jpg" alt="Image">
                        </div>
                        <div class="tm-slideshow-description tm-bg-primary">
                            <b-table  hover :items="currency" :fields="fields" class="text-white"></b-table>
                        </div>
                </section>
            </div>

            <!-- Loadin Component -->
            <div class="position-fixed d-none justify-content-center align-item-center" style="z-index: 100;background-color: rgba(0,0,0,.4);transition: background-color .1s;top:0;bottom:0;left:0;right:0;" :class="{ 'd-flex': loading == true }">
                <div class="spinner-border text-warning" role="status" style="top:50%;position:fixed;">
                      <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!--end:: Loadin Component -->
    </div>
</template>
<script>

export default {
    data() {
      return {
        // Note `isActive` is left out and will not appear in the rendered table
        from_currency: 'USD',
        loading: true,
        amount: 1,
        fields: [
            { key: 'currency', label: 'Moneda' },
            { key: 'imp', label: 'Importe' },
            { key: 'conv', label: 'Conversión' },
        ],
        currency:  [
        ]
      }
    },
    mounted () {
   // Your JQuery code here
   // Slick Carousel
        $('.tm-slideshow').slick({
            infinite: true,
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
        });

        this.getCurrency();
    },
    methods: {
        getCurrency(){
            this.loading = true;
            this.axios.get(`/api/currency?currency_from=${this.from_currency}&amount=${this.amount}`)
            .then(response => {
                this.currency = response.data;
                this.loading = false;
            })
            .catch(e => {
                // Capturamos los errores
            })
        }
    }
}
</script>
