<template>
<div>
 <section class="p-5 tm-container-outer tm-bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                <h2 class="text-uppercase mb-4">Historial</h2>
                
            </div>
        </div>
    </div>
</section>
    <div class="tab-pane fade show active" id="4a">
        <!-- Current Active Tab WITH "show active" classes in DIV tag -->
        <div class="tm-recommended-place-wrap">
            <b-table  hover :items="convert" :fields="fields" class="text-black"></b-table>
        </div>
    </div>
     <!-- Loadin Component -->
            <div class="position-fixed d-none justify-content-center align-item-center" style="z-index: 100;background-color: rgba(0,0,0,.4);transition: background-color .1s;top:0;bottom:0;left:0;right:0;" :class="{ 'd-flex': loading == true }">
                <div class="spinner-border text-warning" role="status" style="top:50%;position:fixed;">
                      <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!--end:: Loadin Component -->
</div>
</template>
<script>
export default {
    data() {
      return {
        // Note `isActive` is left out and will not appear in the rendered table
        loading: true,
        fields: [
            { key: 'amount', label: 'Importe' },
            { key: 'from_currency', label: 'De' },
            { key: 'to_currency', label: 'A' },
            { key: 'created_at', label: 'Fecha de creación' },

        ],
        convert:  [
        ]
      }
    },
     mounted () {
         this.getHistory()
     },
     methods: {
        getHistory(){
            this.loading = true;
            this.axios.get(`/api/history`)
            .then(response => {
                this.convert = response.data;
                this.loading = false;
            })
            .catch(e => {
                // Capturamos los errores
            })
        }
    }

}
</script>