<!doctype html>
<html lang="es">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  <!-- Google web font "Open Sans" -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">        
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Noto+Sans|Raleway|Poppins&display=swap" rel="stylesheet">
        <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css">
        {{ encore_entry_link_tags('app') }}
        <link rel="icon" type="image/png" href="{{asset('build/img/logoClickBus.png')}}" />
        <link rel="stylesheet" href="css/bootstrap.min.css">                                      <!-- Bootstrap style -->
        <link rel="stylesheet" type="text/css" href="css/datepicker.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
        <link rel="stylesheet" href="css/templatemo-style.css">                                   <!-- Templatemo style -->

    {% endblock %}

    <title>{% block title %}{{ title|default|trans|raw }}  {{ 'site_title'|trans  }} {% endblock %}</title>
    

</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

{% block header %}
    {% include 'layout/header.html.twig' %}
{% endblock %}

<main role="main" id="app" class="container container-mapfre p-left-0 p-left-md-10 p-right-0 p-right-md-10">


    {% block before_body %}{% endblock %}
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}

</main>

{% block footer %}

     {% include 'layout/footer.html.twig' %}

{% endblock %}

    
     <!-- load JS files -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <!-- jQuery (https://jquery.com/download/) -->
    <script src="js/popper.min.js"></script>
    <!-- https://popper.js.org/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="js/datepicker.min.js"></script>
    <!-- https://github.com/qodesmith/datepicker -->
    <script src="js/jquery.singlePageNav.min.js"></script>
    <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
    <script src="slick/slick.min.js"></script>
    <!-- http://kenwheeler.github.io/slick/ -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <!-- https://github.com/flesler/jquery.scrollTo -->

    {{ encore_entry_script_tags('app') }}

    {% block javascripts %}
    <script>
        
    function imgError(image) {
        image.onerror = "";
        image.style.display = "none";
    }
    </script>


    {% endblock %}
</body>
</html>
